.pagination {
    margin-bottom: 0 !important;
    float: right;
    clear: both;
}

.login-page {
    min-height: 255px;
    background-repeat: no-repeat;
    background-size: cover;

    .overlay {
        background-color: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .login-card-body {
        background: rgba(0, 0, 0, .5);
        border-top: 0;
        color: white !important;
        padding: 20px;
    }
}
