.hide {
    display: none;
}

.show {
    display: block;
}

.py-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.b-n {
    border: none !important;
}

.disable-me {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.custom_tab_holder {
    .nav-tabs .nav-link {
        border: transparent;
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        background-color: #f4f6f9;
        color: black;
        margin: 2px !important;
    }

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: white !important;
        background-color: #43b25d !important;
        border-color: transparent !important;
        font-weight: bold !important;
    }

    .nav-tabs {
        border-bottom: none !important;
    }
}

.de-active-row {
    background-color: #8b0000;
    color: white;
}

table {

    font-size: 14px !important;
    border: 1px solid #9e9f9f36;

    thead {
        th {
            vertical-align: middle !important;
            border-bottom: none !important;
            padding: 13px 8px !important;
            background-color: #248eff;
            color: #fff;
        }
    }

    tbody {
        td {
            vertical-align: middle !important;
            border-bottom: none !important;
            padding: 5px 8px !important;
        }

        .btn-group {
            .btn {
                padding: 2px 5px !important;
            }
        }
    }

}

.content-header {
    padding: 5px .5rem !important;
}

.h-200 {
    height: 200px !important;
}


//Avatars

.avatar {
    background: transparent !important;
    border-radius: 50%;
    color: rgba(255, 255, 255, .85);
    display: inline-block;
    font-size: .8rem;
    font-weight: 300;
    height: 1.6rem;
    line-height: 1.25;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 1.6rem
}

.avatar.avatar-xs {
    font-size: .4rem;
    height: .8rem;
    width: .8rem
}

.avatar.avatar-sm {
    font-size: .6rem;
    height: 1.2rem;
    width: 1.2rem
}

.avatar.avatar-lg {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem
}

.avatar.avatar-xl {
    font-size: 1.6rem;
    height: 3.2rem;
    width: 3.2rem
}

.cursor-pointer {
    cursor: pointer;
}

.max-h-80vh {
    max-height: 80vh;
}

.overflow-y-auto {
    overflow-y: auto;
}

.timeline {
    &:before {
        background: #dee2e6b8 !important;
        left: 33px !important;
        width: 1px !important;
    }

    .timeline-img {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 21px;
        border: 1px solid #adb5bd !important;
        border-radius: 50%;
        top: 6px;
    }
}

.b-n {
    border: none !important;
}

.direct-chat-messages {
    max-height: 250px !important;
    height: auto;
}


// select2

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 17px !important;
}


#snackbar {
    visibility: hidden;
    min-width: 271px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 13px;
    position: fixed;
    z-index: 1000000;
    right: 6px;
    top: 30px;
    font-size: 17px;

    ul {
        li {
            font-size: 14px;
            font-weight: normal;
            text-align: left;
        }
    }
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

.select2 {
    width: 100% !important;
}

.prev_doc_image {
    height: 107px !important;
    width: 100%;
}

.avatar_preview_holder {
    position: relative !important;
    max-width: 111px;
    margin: 0 auto;

    .upload-btn-wrapper {
        position: absolute;
        overflow: hidden;
        right: -24px;
        display: inline-block;
        top: -9px;
        cursor: pointer;
    }

    .btn {
        border: 1px solid #80808038;
        color: #343a40;
        background-color: #fff;
        padding: 5px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: normal;
    }

    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}


.tree ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child {
    padding-top: 0;
}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;

    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover + ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}

/*Connector styles on hover*/
.tree li a:hover + ul li::after,
.tree li a:hover + ul li::before,
.tree li a:hover + ul::before,
.tree li a:hover + ul ul::before {
    border-color: #94a0b4;
}

.printMe {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;

    th {
        border: 1px solid #ddd;
        text-align: left;
        padding: 10px;
    }

    td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 10px;
    }

    img {
        width: 40px !important;
        height: 40px !important;
    }

    .action {
        display: none;
    }
}

.isDeleted {
    cursor: not-allowed;
    opacity: .5;
}

.deleted-row {
    cursor: not-allowed;
    background-color: #dc3545;
    color: white;
    font-weight: bold;

    .action_btn {
        opacity: .5;
        cursor: not-allowed;
        pointer-events: none;
    }

    .restore_btn {
        display: inline-block !important;
    }

    .del_checkbox {
        display: none;
    }

    .icheck-holder {
        .d-inline {
            visibility: hidden;
        }
    }
}

.ur {
    font-family: 'Jameel Noori Nastaleeq', 'Noto Naskh Arabic', sans serif;;
}

.br-0 {
    border-radius: 0 !important;
}

.w-250 {
    width: 250px !important;
}

.h-150 {
    height: 150px !important;
}

.widget-user {
    .widget-user-image > img {
        border: 2px solid #ffffff14;
        width: 84px;
        height: 84px !important;
    }

    .widget-user-header {
        height: 100px !important;
        padding: 10px !important;
    }

    .card-footer {
        padding-top: 38px;
        background-color: white;
    }

    .widget-user-image {
        top: 50px;
    }

    .widget-user-username {
        font-size: 22px;
        font-weight: normal !important;
    }
}

.right_bar {
    bottom: 0 !important;
}


.fs-13 {
    font-size: 13px !important;
}


/* Customized ui*/

.ui-menu .ui-menu-item {
    padding: 6px !important;
    border-bottom: 1px solid #ced4daa8 !important;
}

.w-400 {
    width: 400px;
}

.no-shadow {
    box-shadow: none !important;
}

.logs-image {
    position: absolute;
    left: 14px;
    border-radius: 50%;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 600 !important;
    font-size: 13px !important;
    color: #000000bf !important;
}

.info-heading-parent {
    background-color: rgba(33, 33, 34, .05) !important;
    margin: 10px auto;
}

.info-heading {
    font-weight: 700 !important;
    color: #000000c2 !important;
    margin: 5px auto;
    font-size: 15px !important;
}

.clock {
    color: #F44336;
    font-size: 23px;
    font-weight: 700;
}

.btn-light {
    background-color: transparent !important;
    border-color: #ced4da !important;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0 !important;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
}

.btn-remove-row {
    position: absolute;
    top: 59px;
    right: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.bootstrap-select .dropdown-menu {
    z-index: 1000000 !important;
}

.site_title {
    font: bold 34px Helvetica, Arial, Sans-Serif;
    color: #03A9F4;
    text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902;
    -webkit-transition: all 0.12s ease-out;
    -moz-transition: all 0.12s ease-out;
    -ms-transition: all 0.12s ease-out;
    -o-transition: all 0.12s ease-out;
}

.site_title:hover {
    position: relative;
    top: -3px;
    left: -3px;
    text-shadow: 1px 1px #fe4902, 2px 2px #fe4902, 3px 3px #fe4902, 4px 4px #fe4902, 5px 5px #fe4902, 6px 6px #fe4902;
}

.btn-view-detail {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 1px solid rgba(52, 58, 64, .18);
    font-size: 12px;
    font-weight: normal;
}

.cloned_row {
    position: relative;
    background-color: #5f9ea026;

    td {
        border: none !important;
        padding: 15px !important;
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    padding: 15px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.login-card-body {
    background: #f3f7f8;
}

.control-sidebar, .control-sidebar:before {
    width: 34% !important;
}

.bg-gradient-brown {
    background: #795548 linear-gradient(180deg, #7955483d, #d2844b) repeat-x !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}


.sw-btn-next {
    background-color: #289842 !important;
    border: transparent !important;
}

.sw-btn-prev {
    background-color: #c72525 !important;
    border: transparent !important;
}

.box-shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.main-sidebar .sidebar {
    height: 543px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.main-sidebar li {
    position: relative;
    display: block;
    width: 95%;
    color: white !important;
    cursor: pointer;
    padding: 1px;
    background-color: #17a2b829 !important;
    margin: 11px auto;
}

.main-sidebar li.nav-item a.nav-link {
    background-color: transparent !important;
}

.main-sidebar li.nav-item a.nav-link p {
    display: block;
    color: #ffffff8a;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius:0 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius:0 !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}

.main-sidebar li.nav-item a.nav-link:hover {
    background-color: #17a2b8 !important;
}

.main-sidebar li.nav-item a.nav-link:hover p {
    color: white !important;
}


.active-notification {
    background-color: #00800075;
    border: none;
    color: white !important;

    a {
        color: #fff !important;

        i {
            padding-top: 6px;
        }
    }
}

.btn-app > .badge {
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius: 50%;
    cursor: pointer;
}

.h-240px {
    height: 240px;
}

.error {
    color: #ff2313cf !important;
}
